Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias accusamus mollitia esse ullam amet quidem laboriosam doloremque, quis maiores eos tempore! Officia voluptatem atque in quasi? Odio, corrupti et.

<p></p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, accusamus repellat architecto vel consequuntur provident natus nam hic reiciendis voluptate animi. Explicabo asperiores molestiae quod ullam ut odio, voluptatibus a autem optio maxime maiores amet quibusdam ex excepturi reprehenderit repudiandae aut dignissimos quos beatae sit, illum totam.</p> 
<p>Minima eos iusto debitis perferendis a inventore commodi placeat vero voluptatum eligendi et error molestias necessitatibus similique optio, earum repellat molestiae quia dolores provident ullam quibusdam! Quo fugiat dignissimos perferendis deserunt ipsum eveniet reprehenderit praesentium, nemo corporis ipsam, beatae qui deleniti distinctio! Ad commodi esse consectetur nisi molestiae! Maxime dicta repellendus minima excepturi.</p>

Post::create([
    'title' => "Judul Ketiga",
    'slug' => 'judul-ketiga',
    'category_id' => 3,
    'excerpt' => "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias accusamus mollitia esse ullam amet quidem laboriosam doloremque, quis maiores eos tempore! Officia voluptatem atque in quasi? Odio, corrupti et.",
    'body' => "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, accusamus repellat architecto vel consequuntur provident natus nam hic reiciendis voluptate animi. Explicabo asperiores molestiae quod ullam ut odio, voluptatibus a autem optio maxime maiores amet quibusdam ex excepturi reprehenderit repudiandae aut dignissimos quos beatae sit, illum totam.</p><p>Minima eos iusto debitis perferendis a inventore commodi placeat vero voluptatum eligendi et error molestias necessitatibus similique optio, earum repellat molestiae quia dolores provident ullam quibusdam! Quo fugiat dignissimos perferendis deserunt ipsum eveniet reprehenderit praesentium, nemo corporis ipsam, beatae qui deleniti distinctio! Ad commodi esse consectetur nisi molestiae! Maxime dicta repellendus minima excepturi.</p>"
])

Category::create([
    'name' => "Personal",
    'slug' => 'personal',
])